In [75]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
551,tt0272152,48000000,50315140,K-PAX,Jeff Bridges|Kevin Spacey|Mary McCormack|Alfre...,Iain Softley,Change the way you look at the world.,Prot is a patient at a mental hospital who cla...,120,Drama|Science Fiction,Intermedia Films|Lawrence Gordon Productions|P...,10/22/2001,7.0,2001
862,tt1270798,160000000,344420111,X-Men: First Class,James McAvoy|Michael Fassbender|Jennifer Lawre...,Matthew Vaughn,Witness the moment that will change our world.,Before Charles Xavier and Erik Lensherr took t...,132,Action|Science Fiction|Adventure,Ingenious Film Partners|Ingenious Media|Twenti...,5/24/2011,7.0,2011
781,tt1586752,30000000,2527904,Machine Gun Preacher,Gerard Butler|Michelle Monaghan|Justin Michael...,Marc Forster,Hope is the greatest weapon of all,"The true story of Sam Childers, a former drug-...",129,Action|Thriller|Crime,Mpower Pictures|Relativity Media|1984 Private ...,9/23/2011,6.4,2011
176,tt2626350,45000000,86165646,Step Up All In,Ryan Guzman|Briana Evigan|Stephen Boss|Misha G...,Trish Sie,Every Step Has Led To This,All-stars from the previous Step Up installmen...,112,Romance|Drama|Music,Summit Entertainment|Offspring Entertainment,7/16/2014,6.7,2014
697,tt0416212,11000000,38105395,The Secret Life of Bees,Dakota Fanning|Queen Latifah|Jennifer Hudson|S...,Gina Prince-Bythewood,"Bring Your Girlfriends, Sisters, Mothers and D...","Set in South Carolina in 1964, this is the tal...",114,Adventure|Drama,Fox Searchlight Pictures,9/17/2008,7.2,2008

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [104]:
# создадим словарь для ответов
answers = {1:'Pirates of the Caribbean: On Stranger Tides (tt1298650)', 2:'Gods and Generals (214)', 
3:'Winnie the Pooh (63)', 4:'110', 5:'107.0', 6:'Avatar (profit = 2544505847)', 7:'The Lone Ranger (profit = -165710090)', 
8:'1478', 9:'The Dark Knight (revenue = 2781505847)', 10:'The Lone Ranger (profit = -165710090)', 11:'Drama', 12:'Drama', 
13:'Peter Jackson', 14:'Robert Rodriguez', 15:'Chris Hemsworth', 16:'Matt Damon', 17:'Action', 
18:'K-19: The Widowmaker (profit = -64831034)', 19:'2015', 20:'2014', 21:'9', 22:'450', 23:'Peter Jackson', 
24:'Four By Two Productions', 25:'Midnight Picture Show', 26:'Inside Out, The Dark Knight, 12 Years a Slave',
27:'Daniel Radcliffe, Rupert Grint'}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [26]:
# тут пишем ваш код для решения данного вопроса:
'{} ({})'.format(data[data.budget == data.budget.max()]['original_title'].values[0], 
data[data.budget == data.budget.max()].imdb_id.values[0])

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (214)'

In [28]:
'{} ({})'.format(data[data.runtime == data.runtime.max()]['original_title'].values[0], 
data[data.runtime == data.runtime.max()].runtime.values[0])

'Gods and Generals (214)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh (63)'

In [29]:
'{} ({})'.format(data[data.runtime == data.runtime.min()]['original_title'].values[0], 
data[data.runtime == data.runtime.min()].runtime.values[0])

'Winnie the Pooh (63)'

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'

In [54]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '107.0'

In [33]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar (profit = 2544505847)'

In [37]:
#код получения столбца profit
data['profit'] = data['revenue'] - data['budget']

In [50]:
'{} ({} {})'.format(data[data.profit == data.profit.max()]['original_title'].values[0], 
'profit =', data[data.profit == data.profit.max()].profit.values[0])

'Avatar (profit = 2544505847)'

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger (profit = -165710090)'

In [49]:
'{} ({} {})'.format(data[data.profit == data.profit.min()]['original_title'].values[0], 
'profit =', data[data.profit == data.profit.min()].profit.values[0])

'The Lone Ranger (profit = -165710090)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'

In [45]:
len(data.loc[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (revenue = 2781505847)'

In [46]:
'{} ({} {})'.format(data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0], 
'revenue =', data[data.revenue == data.revenue.max()].revenue.values[0])

'The Dark Knight (revenue = 2781505847)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = 'The Lone Ranger (profit = -165710090)'

In [48]:
'{} ({} {})'.format(data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()].original_title.iloc[0], 
'profit =', data[data.profit == data.profit.min()].profit.values[0])

'The Lone Ranger (profit = -165710090)'

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

ВАРИАНТ 1

In [55]:
# через объект Series:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:1]

Drama    782
dtype: int64

ВАРИАНТ 2

In [56]:
# через функцию lambda и explode:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['genres'].explode('genres').value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'

In [67]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['genres'][data.profit > 0].explode('genres').value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'

In [76]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
#разделяем режиссеров:
data['director'] = data['director'].apply(lambda x:x.split('|'))
#создаем новый список режиссеров:
list_new = data.explode('director')
#создаем группу из режиссеров с суммарными кассовыми сборами с сортировкой по убыванию:
list_new.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'

In [17]:
#создаем список с фильмами в жанре Action:
action_films = data[data.genres.str.contains('Action')].copy()
#разделяем режиссеров:
action_films['director'] = action_films['director'].apply(lambda x:x.split('|'))
#создаем список из режиссеров с количеством фильмов:
action_films = action_films.explode('director')
action_films.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'

In [18]:
#создаем список с фильмами, выпущенными в 2012 году:
films_year = data[data.release_year == 2012].copy()
#разделяем актеров:
films_year['cast'] = films_year['cast'].apply(lambda x:x.split('|'))
#создаем список по актерам:
list_new = films_year.explode('cast')
#суммируем кассовые сборы по актерам:
list_new.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'

In [8]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'

In [6]:
#создаем список фильмов с Кейджем:
films_cage = data[data.cast.str.match("Nicolas Cage", na=False)]
#разделяем жанры:
genres_split = films_cage['genres'].apply(lambda x:x.split('|'))
#создаем список с количеством жанров:
genres_split.explode('genres').value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = 'K-19: The Widowmaker (profit = -64831034)'

In [11]:
#создаем список фильмов Paramount Pictures:
paramount_films = data[data.production_companies.str.match("Paramount Pictures", na=False)]
#выбираем из списка самый убыточный фильм:
'{} ({} {})'.format(paramount_films[paramount_films.profit == paramount_films.profit.min()]['original_title'].values[0], 
'profit =', paramount_films[paramount_films.profit == paramount_films.profit.min()].profit.values[0])

'K-19: The Widowmaker (profit = -64831034)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'

In [35]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'

In [56]:
#создаем список фильмов Warner Bros:
warner_films = data[data['production_companies'].str.contains('Warner Bros')]
#создаем список с суммой прибыли по годам и выбираем самый прибыльный год:
warner_films.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '9'

In [39]:
#разделяем дату на месяц, день, год:
data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
#оставляем только месяц:
data['month']=data['release_date'].apply(lambda x: x[0])
#находим количество фильмов по месяцам:
data['month'].value_counts().index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'

In [48]:
#разделяем дату на месяц, день, год:
data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
#оставляем только месяц:
data['month']=data['release_date'].apply(lambda x: x[0])
#фильтруем и оставляем только летние месяцы и суммируем:
data['month'].isin(['6','7','8']).sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [52]:
#разделяем дату на месяц, день, год:
data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))
#оставляем только месяц:
data['month']=data.release_date.apply(lambda x: x[0])
#разделяем режиссеров:
data['director'] = data['director'].apply(lambda x:x.split('|'))
#через функцию pivot оставляем только зимние месяцы:
pivot = data.loc[(data['month'].isin(['1', '2', '12']))]
#суммируем фильмы по режиссерам:
pivot['director'].value_counts().index[0]

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'

In [57]:
#разделяем студии:
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data= data.explode('production_companies')
#выражаем в числовом значении названия фльмов:
data['original_title'] = data['original_title'].apply(lambda x:len(x))
#находим среднее значение по количеству символов в названии по студиям и сортируем по убыванию:
data.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'

In [68]:
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data= data.explode('production_companies')
data['overview'] = data['overview'].apply(lambda x:len(x.split(' ')))
data.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data.sort_values('vote_average', ascending = False)[['original_title', 'vote_average']].head(round(1889/100))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 1

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [77]:
from itertools import combinations
#разделяем актеров:
data['cast'] = data['cast'].str.split('|')
#создаем список с актерами:
data1 = data['cast'].reset_index()
#добавляем столбец со списком пар актеров:
data1['couples'] = data1['cast'].apply(lambda s: list(combinations(s, 2)))
#расширяем список для каждой пары актеров:
data1 = data1.explode('couples').reset_index()
#находим наиболее часто встречающиеся пары:
Counter(data1['couples']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [105]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{1: 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 2: 'Gods and Generals (214)',
 3: 'Winnie the Pooh (63)',
 4: '110',
 5: '107.0',
 6: 'Avatar (profit = 2544505847)',
 7: 'The Lone Ranger (profit = -165710090)',
 8: '1478',
 9: 'The Dark Knight (revenue = 2781505847)',
 10: 'The Lone Ranger (profit = -165710090)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: 'K-19: The Widowmaker (profit = -64831034)',
 19: '2015',
 20: '2014',
 21: '9',
 22: '450',
 23: 'Peter Jackson',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: 'Inside Out, The Dark Knight, 12 Years a Slave',
 27: 'Daniel Radcliffe, Rupert Grint'}

In [106]:
# и убедиться что ни чего не пропустил)
len(answers)

27